@model IPagedList<Models.Users>
@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<div class="span10">
    <!-- /widget -->
    <div class="widget widget-table action-table">
        <div class="widget-header">
            <i class="icon-th-list"></i>
            <h3>Users List</h3>
        </div>
        <!-- /widget-header -->
        <div class="widget-content">
            @{
                if ( Model != null && Model.Count() > 1)
                {
                    <table id="tbldata" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th> Full Name </th>
                                <th> Mailid</th>
                                <th>Contact Number</th>
                                <th class="td-actions"> </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in Model)
                            {
                                <tr>
                                    <td>@user.FullName</td>
                                    <td>@user.MailID</td>
                                    <td>@user.ContactNumber</td>
                                    <td class="td-actions"><a class="btn btn-small btn-success" href="javascript:;"><i class="icon-edit"> </i></a><a class="btn btn-danger btn-small" href="javascript:;"><i class="icon-trash"> </i></a><a class="btn btn-danger btn-small" href="javascript:;"><i class="icon-ban-circle"> </i></a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @Html.PagedListPager(Model, i => Url.Action("Index", "User", new { Page }))
                }
                else
                {
                    <div class="alert">
                        <strong>Warning!</strong> No records Found
                    </div>
                }
                <div>
                    <h3 style="color:orange">@ViewBag.alertMessage</h3>
                </div>
            }
        </div>
        <!-- /widget-content -->
    </div>
    <!-- /widget -->
</div>
